//--------------color-----------
$white: #ffffff;
$black: #000000;
$orange: #ff5a37;
$gray: #cccccc;
$dividerColor: #d9d9d9;
$background: #f8f8f8;
$pressColor: #E4E5E6;
$textPrimaryColor: #222222;

//--------------dimen------------------
$dividerHeight: 1px;
$itemHeight: 50px;
$itemPaddingLR: 15px;
$textPrimarySize: 15px;

$bigDivider: 8px;
$btnHeight: 40px;
$testValue: 110px;

