//--------------color-----------
$white: #ffffff;
$black: #000000;
$orange: #ff5a37;
$gray: #cccccc;
$dividerColor: #d9d9d9;
$background: #f8f8f8;
$pressColor: #E4E5E6;
$textPrimaryColor: #222222;

//--------------dimen------------------
$dividerHeight: 1px;
$itemHeight: 100px;
$itemPaddingLR: 30px;
$textPrimarySize: 30px;

$bigDivider: 16px;
$btnHeight: 80px;
$testValue: 100px;

